* {
  box-sizing: border-box;
}

body {
  background-color: rgb(94, 93, 93);
  text-align: center;
  margin: 0;
}

ul {
  list-style: none;
}

button {
  border: 2px solid black;
  outline: none;
  border-radius: 6px;
  display: inline-block;
  height: 50px;
  padding: 8px 12px;
  font-size: 18px;
}

header {
  margin-top: 20px;
}

.header__logo {
  width: 125px;
}

.filter {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-left: 60px;
}

.filter__btn {
  padding-right: 24px;
}

.filter__btn img {
  height: 50px;
}

.blue {
  background-color: rgb(90, 167, 235);
}

.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}

.items {
  padding: 0;
}

.item {
  background-color: white;
  margin-bottom: 12px;
  width: 700px;
  margin: 12px auto;
}

.item img {
  height: 50px;
}
