:root {
  /* color */
  --color-white: #ffffff;
  --color-dark-grey: #4d4d4d;
  --color-blue: #73aace;
  --color-orange: #feb546;
  --color-pink: #fd7bcc;

  /* size */
  --button-img-size: 50px;

  /* fontsize */
  --font-size: 18px;

  /* animatione */
  --animation-duration: 300ms;

  /* basic space */
  --basic-space: 8px;

  /* border */
  --border-size: 6px;
}

body {
  background-color: var(--color-dark-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.buttons {
}

.button {
  outline: none;
  border: none;
  background-color: transparent;
  margin-right: var(--basic-space);
  border-radius: var(--border-size);
  cursor: pointer;
  transition: transform var(--animation-duration) ease-in;
}

.button:hover {
  transform: scale(1.1);
}

.button__img {
  width: var(--button-img-size);
}

.color {
  font-size: var(--font-size);
  padding: var(--basic-space);
}

.header__logo {
  width: 125px;
  cursor: pointer;
  transition: transform 300ms ease-in;
}

.header__logo:hover {
  transform: scale(1.1);
}

.filter {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-left: 60px;
}

.filter__btn {
  padding-right: 24px;
}

.filter__btn img {
  height: 50px;
  cursor: pointer;
  transition: transform 300ms ease-in;
}

.filter__btn img:hover {
  transform: scale(1.1);
}

.blue {
  background-color: rgb(90, 167, 235);
}

.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}

.items {
  padding: 0;
  overflow-y: auto;
  height: 500px;
}

.item {
  background-color: white;
  margin-bottom: 12px;
  width: 500px;
  height: 60px;
  margin: 12px auto;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.item.visible {
  display: flex;
}

.item img {
  height: 50px;
}

.item span {
  margin-left: 25px;
}
